{% extends 'layout.html' %}

{% block content %} 
<div class="row">
    {% for character in characters %}
    <div class="col-sm-3 col-6 mb-4">
        <div class="card">
            <img src="{{ character.image }}" class="card-img-top" alt="{{ character.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ character.name }}</h5>
                <p class="card-text">Status: {{ character.status }}</p>
                <p class="card-text">Espécie: {{ character.species }}</p>
                <a href="/profile/{{ character.id }}" class="btn btn-primary btn-sm">Ver perfil</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
