{% extends 'layout.html' %}

{% block content %}

<div class="table-responsive"> 
    <table class="table table-striped"> 
        <thead> 
            <tr> 
                <th scope="col" style="color: #4a911ba3; font-family: 'poppins', sans-serif;">Nome</th>
                <th scope="col" style="color: #4a911ba3; font-family: 'poppins', sans-serif;">Data de lançamento</th>
                <th scope="col" style="color: #4a911ba3; font-family: 'poppins', sans-serif;">Código</th>
            </tr>
        <tbody class="table-group-divider"> 
            {% for episode in episodes %} 
            <tr>
                <td style="font-family: 'poppins', sans-serif;"><a style="text-decoration: none; color: #21252F" href="/episode/{{ episode.id }}" >{{ episode.name }}</a></td> 
                <td style="font-family: 'poppins', sans-serif;">{{ episode.air_date }}</td>
                <td style="font-family: 'poppins', sans-serif;">{{ episode.episode }}</td>
            </tr>
            
            {% endfor %}
        </tbody>
        </thead>
    </table>
</div>

{% endblock %}
