{% extends 'layout.html' %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <h3 class="fw-semibold" style="font-size: 1.125rem; font-family: 'poppins', sans-serif; color: #5a017da3;">Detalhes da Localização</h3>
    <ul class="list-unstyled" style="font-size: 1rem; font-family: 'poppins', sans-serif; color: #070707a3;">
      <li><strong>Nome:</strong> {{ location.name }}</li>
      <li><strong>Tipo:</strong> {{ location.type }}</li>
      <li><strong>Dimensão:</strong> {{ location.dimension }}</li>
      <li><strong>Personagens:</strong></li>
    </ul>
  </div>
</div>

<div class="row">
  {% for character in characters %}
  <div class="col-md-3 mb-3">  
    <div class="card shadow text-center">
      <img src="{{ character.image }}" class="card-img-top img-fluid img-thumbnail border border-success" alt="{{ character.name }}">
      <div class="card-body">
        <h3 class="card-title h5 mb-4" style="font-family: 'poppins', sans-serif;">{{ character.name }}</h3>
        <a href="/profile/{{ character.id }}" class="btn btn-outline-success rounded-lg btn-sm text-center" style="font-family: 'poppins', sans-serif;"">Ver perfil</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
